h1 {
  text-align: center;
  }
  div .jumbotron {
  background: linear-gradient(#fcd3f6, #7fe4fa, #8191ff);
  color:#1c245f ;
}
#title {
  font-size: 20px;
}
body {
  background-image: url(https://static.zerochan.net/5.Centimeters.Per.Second.full.1830428.jpg);
  background-color: #cccccc
  font-family: 'Lucida Sans';
  color: #cccccc
}
p {
  font-size: 17px;
}
.ruby {
  display: none;
}

.c {
  display: none;
}
.go {
  display: none;
}

.javascript {
  display: none;
}
.info-box-wrap {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.info-box-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.info-box {
  background: black;
  color: #fcd3f6;
  padding: 30px;
  position: relative;
  width: 50%;
  display: none;
}
.info-text {
  display: none;
}
.info-text h2 {
  text-transform: capitalize;
}
#surveyTitle {
  font-size: 20px;
}
#pic1 {
  margin: 20px auto;
  display: block;
}
